page-results {
    .button-block {
        width: 96%;
    }
    .choices {
        position: absolute;
        left: 4%;
        right: 4%;
        bottom: 1em;
        width: 92%;
    }
    .card-md-background {
        box-shadow: none !important;
    }

    ion-avatar img, ion-thumbnail img {
        margin-bottom: 6 em;
        margin-right: auto !important;
        margin-left: auto !important;
        border-radius: 50%;
        border: 3px solid black;
        height: 20em;
        width: 20em;
    }
}
