<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>التبويبات</ion-title>
    <ion-buttons end padding>
      <button ion-button end icon-only (click)="openPage('AddCategoryPage')">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar placeholder="بحث" (ionInput)="filterCats($event)"></ion-searchbar>
  <ion-list  color="background" >

    <div *ngFor="let cat of categories">
      <ion-item *ngIf="!cat.hasParent"   color="background" >
        <ion-item color="primary" (click)="showPanel(cat)" >
          {{cat.displayNameArabic}}
        </ion-item>
        <div *ngIf="cat.hasParent">
          <ion-item  (click)="showPanel(cat)"  color="background" >
            {{cat.displayNameArabic}}
          </ion-item>
        </div>
        <div *ngIf="cat.showMe">
          <ion-item  color="background" >
            {{cat.displayName}}
          </ion-item>
          <ion-item *ngIf="cat.hasParent"  color="background" >
            {{getParentCatDisplayName(cat)}}
          </ion-item>
          <ion-row  color="background" >
            <ion-col  color="background" >
              <button ion-button outline block color="primary" (click)="editCategory(cat)">
                تحرير
                <ion-icon item-start color="primary" name="create"></ion-icon>
              </button>
            </ion-col>
            <ion-col  color="background" >
              <button ion-button outline block color="danger" (click)="removeCategory(cat.$key)">
                حذف
                <ion-icon item-start color="primary" name="remove-circle"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <div *ngFor="let subCat of gatChildCats(cat)">
            <ion-item  color="background"  (click)="showPanel(subCat)">
              {{subCat.displayNameArabic}}
            </ion-item>
            <ion-item  color="background" >
              {{subCat.displayName}}
            </ion-item>
            <ion-row  color="background" >
              <ion-col  color="background" >
                <button ion-button outline block color="primary" (click)="editCategory(subCat)">
                  تحرير
                  <ion-icon item-start color="primary" name="create"></ion-icon>
                </button>
              </ion-col>
              <ion-col  color="background" >
                <button ion-button outline block color="danger" (click)="removeCategory(subCat.$key)">
                  حذف
                  <ion-icon item-start color="primary" name="remove-circle"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>

</ion-content>