page-add-team {
    .english {
        padding-left: 0;
    }
    ion-avatar img, ion-thumbnail img {
        margin-bottom: 6 em;
        margin-right: auto !important;
        margin-left: auto !important;
        border-radius: 50%;
        max-width: 55%;
        height: 13em;
     }
     .userRow {
        margin: 0 !important;
    }
    .infoCol h2 {
        color: white;
        font-size: 1.4em;
    }
    .userCard {
        margin: 0;
        border-bottom: 1px solid white;
        width: 100%;
    }

    ion-avatar.userAvatar {
        margin: 0 !important;
        padding: 0 !important;
        width: 32%;
        margin-left: 1em;
    }

    ion-avatar.userAvatar img {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        height: auto;
    }
     .col{
         color: white;
     }
     .english .text-input-md{
        direction:ltr; 
        text-align:left;
      }
      .icon-md{
        //   position: relative;
      }
      .fab-close-icon {
        padding-right: 35%;
        padding-left: 35%;  
    }
     .playBtn{
        padding-right: 25%;
        padding-left: 25%;
    }
    .smallPlayBtn{
        padding-right: 15%;
        padding-left: 15%;
    }
    ion-row.row {
        margin: 2em 0;
    }
}
