<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>235551466519-6ra9kjh1k1rgvdg8sius8nct0ke78ok9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235551466519-6ra9kjh1k1rgvdg8sius8nct0ke78ok9</string>
	<key>API_KEY</key>
	<string>AIzaSyAt8zNGr0ey9-DE2CeUBEqAhgfiDxZ51IY</string>
	<key>GCM_SENDER_ID</key>
	<string>235551466519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halsaied.quizapp</string>
	<key>PROJECT_ID</key>
	<string>questionapp-fdb6a</string>
	<key>STORAGE_BUCKET</key>
	<string>questionapp-fdb6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235551466519:ios:9a2f16097905b26e</string>
	<key>DATABASE_URL</key>
	<string>https://questionapp-fdb6a.firebaseio.com</string>
</dict>
</plist>