<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      كويز السرعة
    </ion-title>

    <ion-buttons end padding>
      <button ion-button end icon-only (click)="setSettingVis()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="!showQuiz">
    <!-- <ion-card color="background" class="start">
      اختر التبويب الرئيسي، نقرتين، أوالتبويب الفرعي لنقرة واحدة لتبدأ اللعب
    </ion-card>
    <button ion-button block full class="startBtn" (click)="selectCat(null)">
      كافة التبويبات
    </button> -->
    <div *ngFor="let cat of mainCats">
      <button ion-button block full class="startBtn" (click)="selectCat(cat)">
        {{cat.displayNameArabic}}
      </button>
      <div *ngIf="cat.showMe">
        <div *ngFor="let subCat of subCats">
          <button ion-button block full color="choice" class="startBtn" (click)="selectSubCat(subCat)">
            {{subCat.displayNameArabic}}
          </button>
        </div>
      </div>
    </div>
  </ion-list>

  <ion-list *ngIf="showQuiz">
    <progress-bar-1 [progress]="progressValue" [text]=""></progress-bar-1>
    <ion-item class="questionBar" color="background">
      <question-bar-1 [answerArr]="userAnswerArr"></question-bar-1>
      <ion-badge item-end>{{userPoints}}</ion-badge>
    </ion-item>

    <!-- <ion-row>
      <ion-col>
        <button ion-button (click)="useJoker()" color="google" full>
          جوكر
        </button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="useHammer()" color="facebook" full>
          مطرقة
        </button>
      </ion-col>
      <ion-col *ngIf="showStormBtn">
        <button ion-button (click)="useStorm()" color="primary" full>
          العاصفة
        </button>
      </ion-col>
    </ion-row> -->

    <ion-card>
      <div class="imgContainer" *ngIf="currentQuestion.imageUrl !== ''">
        <img [src]="imageBeg + currentQuestion.imageUrl + imageEnd">
      </div>
      <ion-card-content color="questioBck">
        <ion-card class='content1' color="questioBck">{{currentQuestion.content}} </ion-card>
      </ion-card-content>
    </ion-card>


    <div class='choices'>
      <ion-row class='info'>
        <ion-col  color="background">
          <button (click)="useJoker()" color="background">
            <img src="./assets/jocker64.png" color="background">
            <div>
              <ion-badge item-end>{{currentUser.jokerNum}}</ion-badge>
            </div>
          </button>
        </ion-col>
        <ion-col  color="background">
          <button (click)="useHammar()" color="background">
            <img src="./assets/hammar64.png" color="background">
            <div>
              <ion-badge item-end>{{currentUser.hammarNum}}</ion-badge>
            </div>
          </button>
        </ion-col>
        <ion-col *ngIf="showStormBtn"  color="background">
          <button (click)="useStorm()" color="background">
            <img src="./assets/storm64.png" color="background">
            <div>
              <ion-badge item-end>{{currentUser.stormNum}}</ion-badge>
            </div>
          </button>
        </ion-col>
      </ion-row>
      <!-- <div class="icnsClass">
        <button class="icnClass" (click)="useJoker()" color="background">
          <img src="./assets/jocker64.png" color="background">
          <div>
            <ion-badge item-end>{{currentUser.jokerNum}}</ion-badge>
          </div>
        </button>
        <button class="icnClass" (click)="useHammar()" color="background">
          <img src="./assets/hammar64.png" color="background">
          <div>
            <ion-badge item-end>{{currentUser.hammarNum}}</ion-badge>
          </div>
        </button>

        <button class="icnClass" (click)="useStorm()" color="background">
          <img src="./assets/storm64.png" color="background">
          <div>
            <ion-badge item-end>{{currentUser.stormNum}}</ion-badge>
          </div>
        </button>
      </div> -->

      <div *ngIf="currentQuestion.answerType.toLocaleLowerCase() === 'multiplechoices' && currentQuestion.imageUrl === '' ">
        <button ion-button block class='choice' [style.background]="choiceBkgs[c.text]" *ngFor="let c of currentChoices" (click)="nextBtn(c.text)">
          {{c.text}}
        </button>
      </div>

      <div *ngIf="currentQuestion.answerType.toLocaleLowerCase() === 'multiplechoices' && currentQuestion.imageUrl !== '' ">
        <ion-row>
          <ion-col *ngFor="let c of currentChoices.slice(0,2)">
            <button ion-button block class="choice" [style.background]="choiceBkgs[c.text]" (click)="nextBtn(c.text)">
              {{c.text}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let c of currentChoices.slice(2,4)">
            <button ion-button block class="choice" [style.background]="choiceBkgs[c.text]" (click)="nextBtn(c.text)">
              {{c.text}}
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="currentQuestion.answerType.toLocaleLowerCase() === 'trueorfalse' ">
        <button ion-button class='choice' [style.background]="choiceBkgs['true']" block (click)="nextBtn('true')">
          صح
        </button>
        <button ion-button class='choice' [style.background]="choiceBkgs['false']" block (click)="nextBtn('false')">
          خطأ
        </button>
      </div>
      <ion-item *ngIf="currentQuestion.answerType.toLocaleLowerCase() === 'fillblanck' ">
        <ion-input [(ngModel)]="userAnswer"></ion-input>
      </ion-item>
    </div>

  </ion-list>

</ion-content>