page-speed-result {
    .choices {
        position: absolute;
        left: 4%;
        right: 4%;
        bottom: 1em;
        width: 92%;
    }
    .button-block {
        width: 96%;
        // margin-top: 2em;
    }

    .card-md-background {
        box-shadow: none !important;
    }
    
    ion-avatar img, ion-thumbnail img {
        margin-bottom: 3 em;
        margin-right: auto !important;
        margin-left: auto !important;
        // border-radius: 50%;
        height: 12em;
        width: 20em;
    }
}
