page-quiz-questions {
    ion-card.card.card-md.card-md-primary {
        padding: 1em;
        margin: 0;
        width: 100%;
        font-size: 1.1em;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
}
