<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      إحصائيات
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item class="questionNum" color="primary">
      عدد الأسئلة
      <ion-badge color="yellowC" item-end>{{totalQuestionNum}}</ion-badge>
    </ion-item>
    <ion-item color="primary">
      التبويبات
    </ion-item>
    <div *ngFor="let cat of mainCats">
      <ion-item class="cat" (click)="showSubCatStats(cat)" color="background">
        {{cat.displayNameArabic}}
        <ion-badge item-end>{{cat.questionNumber}}</ion-badge>
      </ion-item>
      <div *ngIf="cat.showSubCats">
        <ion-item class="subCat" *ngFor="let cat of subCats" color="background">
          {{cat.displayNameArabic}}
          <ion-badge class='badgeDiff' item-end>{{cat.questionNumber_1}} س</ion-badge>
          <ion-badge class='badgeDiff' item-end>{{cat.questionNumber_2}} م</ion-badge>
          <ion-badge class='badgeDiff' item-end>{{cat.questionNumber_3}} ص</ion-badge>
          <ion-badge item-end>{{cat.questionNumber}}</ion-badge>
          <!-- <ion-row>
            <ion-col>
                <ion-badge item-end>{{cat.questionNumber_1}} س</ion-badge>
            </ion-col>
            <ion-col>
              <ion-badge item-end>{{cat.questionNumber_2}} م</ion-badge>
            </ion-col>
            <ion-col>
              <ion-badge item-end>{{cat.questionNumber_3}} ص</ion-badge>
            </ion-col>
          </ion-row> -->
        </ion-item>

      </div>
    </div>

    <ion-item color="primary">
      مساهمات الأعضاء
    </ion-item>

    <ion-item *ngFor="let user of userStats " color="background">
      <ion-avatar item-start class="userAvatar">
        <img [src]="user.imageLink" alt="جاري تحميل الصورة!">
      </ion-avatar>
      {{user.user}}
      <ion-badge item-end>{{user.questionNumber}}</ion-badge>
    </ion-item>
  </ion-list>


  <div *ngIf="hazemVisible">
    <button ion-button (click)="addRandomIndices()" full color="danger">
      توليد فهارس الأسئلة
    </button>
    <button ion-button (click)="setInitialQNumber()" full color="danger">
      ضبط عدد الأسئلة
    </button>
    <button ion-button (click)="addTimeToColumns()" full color="danger">
      ضبط التوقيت
    </button>

    <button ion-button (click)="denormalizeCats()" full color="danger">
      ضبط التبويبات
    </button>

    <button ion-button (click)="setUser4All()" full color="danger">
      تعيين المؤلف
    </button>

    <button ion-button (click)="setUsersInfo()" full color="danger">
      ضبط معلومات المستخدمين
    </button>
  </div>
</ion-content>