page-statistics {
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede;
    }
    .item-md [item-end] {
        margin: 9px 8px 9px 10px;
    }
    .badgeDiff{
        font-size: .7em !important;
    }
    ion-badge.badge.badge-md, .badge-ios {
        font-size: 1em;
    }
    ion-item.cat, ion-item.questionNum {
        border-bottom: 2px solid;
    }
}
