page-my-questions {
    .card-md-primary {
        padding: 1em;
        width: 100%;
        margin: 0;
        font-size: 1.3em !important;
    }
    .item-md {
        padding-left: 1em;
    }
    .question{
        margin: 1em;

    }
}
