// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// $background: #E9EBEB;
// $background: #022048;
$background:#207EA6;

$colors: (
  primary:#D01E29,
  primaryTextbox:#D01E29,
  secondary: #FE5258,
  danger:     #ca0c35,
  light:      #FE5258,
  dark:       rgb(4, 90, 128),
  facebook:   rgb(68, 104, 172),
  google:     rgb(234, 65, 60),
  valid:      #38c51c,
  orange: #fcad04,
  // choice: #FCC744, 
  choice:#4C4C4C,
  activeChoice: #ebae15, 
  yellowC: #FCC744, 
  // background:#022048,
  background:#207EA6,
  questioBck:#DFDFDF,
  // background: #E9EBEB,
  yellowCDark: #d19601, 
  yellowCLight:#fae0a8,
  prgressBar :#FF5B25
);

// $colors: (
//   primary:#006CB2, //titlebar
//   itemBckg: #00B0E0,//background
//   primaryTextbox:#FF5B25,
//   valid:  #00A234,
//   facebook:   rgb(68, 104, 172),
//   google:     rgb(234, 65, 60),
// orange: #B3CC33,
//   yellowC: #edc951,
//   yellowCDark: #eb6841,
//   yellowCLight :#fae0a8,
//   prgressBar :#FF5B25
// );


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: 'Droid Arabic';
  src: url('../assets/fonts/DroidKufi/DroidKufi-Regular.ttf');
}

@font-face {
  font-family: 'BBC';
  src: url('../assets/fonts/BBCRegular.ttf');
}

* {
  font-family: 'BBC','Droid Arabic';
  direction: rtl;
  text-align: right;
}