<ion-menu [content]="content" side="right">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-title>بنك الاختبارات</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}" -->
  <ion-content>
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="primary">كويزات</ion-item-divider>
        <button menuClose ion-item (click)="openPlayOnlinePage()" color="background">
          تحدي أونلاين
        </button>
        <button menuClose ion-item (click)="openPlayPage()" color="background">
          اختبر معلوماتك!
        </button>
        <button menuClose ion-item (click)="openSpeedTestPage()" color="background">
          تحدي السرعة!
        </button>
        <button menuClose ion-item (click)="openInfiniteTestPage()" color="background">
          تحدي الإجابات الصحيحة!
        </button>

        <ion-item-divider color="primary">خدمات</ion-item-divider>
        <button menuClose ion-item *ngFor="let p of servicePages" (click)="openPage(p)" color="background">
          {{p.title}}
        </button>


        <ion-item-divider color="primary">لوحة التحكم</ion-item-divider>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="background">
          {{p.title}}
        </button>
       
        <ion-item-divider color="primary">الحساب</ion-item-divider>
        <button menuClose ion-item (click)="openProfilePage()" color="background">
          الحساب
        </button>
        <button menuClose ion-item (click)="logout()" color="background">
          تسجيل الخروج
        </button>
      </ion-item-group>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>