// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/variables.scss';

.content-ios, ion-content, ion-content.content.content-md, ion-list.list.list-md {
    background: $background;
}
ion-item-divider.item.item-divider {
    font-size: 1.4em;
}
.toolbar-title.toolbar-title-md {
    text-align: center;
}
.badge-md {
    background: map-get($colors, badge);
}
.catTitle {
    background: map-get($colors, catTitle);
}
.choices span.button-inner {
    color: #37FF8B;
}
.catContainer p {
    color: #37FF8B;
}
.icnClass img {
    width: 48px !important;
    height: 48px !important;
    /* max-width: none; */
    max-height: none;
    border: none;
    margin: 0 auto;
    min-width: 48px !important;
    max-width: 48px;
}
.icnClass {
    float: left;
    width: 30%;
    background: #17577e;
    margin: 1em 1%;
}
.icnsClass {
    display: block;
    overflow: hidden;
    
}
.icnClass ion-badge.badge.badge-md, .icnClass .badge-ios {    
    margin: .5em auto 0;
    display: block;
    width: 40%;
}
.choice{
    width:98%;
    margin: 0 1%;
}
.choice {
    width: 98%;
    margin: .1em 1%;
    font-size: 1.2em;
    height: 2.5em !important;
    border-radius: 5px;
    // background: map-get($colors, contrast);
}
.info ion-col button {
    background: map-get($colors, background);
}
.resultCard {
    text-align: center;
}
.userAnswerInput {
    background: map-get($colors, questionCardBck);
    padding: .5em 1em;
    width: 100%;
    margin: 0;
}
.userAnswerLabel {
    color: black;
    padding-left: 1em;
}
.userAnswerItem{
    width: 96% !important;
    padding: 0 !important;
    margin: .5em auto !important;
    border-radius: 5px !important;
}
button.item-ios:not([detail-none]) .item-inner {
    padding-right: 0;
    padding-left: 32px;
    background-image: none;
}
.badge-ios{
    background-color: map-get($colors, contrast);
}