<ion-menu [content]="content" side="right">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-title>كويزي</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item-group>
        <button menuClose ion-item (click)="openMainPage()" color="background">
          الرئيسية
        </button>
        <div *ngIf="user.role === 'admin'">
          <ion-item-divider color="primary">لوحة التحكم</ion-item-divider>
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="background">
            {{p.title}}
          </button>
        </div>
        <ion-item-divider color="primary">كويزات</ion-item-divider>
        <button menuClose ion-item (click)="openPlayOnlinePage()" color="background">
          كويز أونلاين
        </button>
        <button menuClose ion-item (click)="openPlayPage()" color="background">
          اختبر معلوماتك!
        </button>
        <button menuClose ion-item (click)="openSpeedTestPage()" color="background">
          كويز السرعة!
        </button>
        <button menuClose ion-item (click)="openInfiniteTestPage()" color="background">
          كويز السلسلة!
        </button>

        <ion-item-divider color="primary">خدمات</ion-item-divider>
        <button menuClose ion-item *ngFor="let p of servicePages" (click)="openPage(p)" color="background">
          {{p.title}}
        </button>
        <button menuClose ion-item (click)="openProfilePage()" color="background">
          الحساب
        </button>
        <button menuClose ion-item (click)="logout()" color="background">
          تسجيل الخروج
        </button>
      </ion-item-group>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav id="nav" #content [root]="rootPage">
  
  <!-- <ion-tabs>
    <ion-tab [root]="tab1Root"></ion-tab>
    <ion-tab [root]="tab2Root"></ion-tab>
    <ion-tab [root]="tab3Root"></ion-tab>
  </ion-tabs> -->
</ion-nav>