<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      المتجر
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- <ion-list color="background"> -->
  <div class='options'>


    <ion-row class="option ">
      <ion-col col-2>
        <div class='imgContainer'>
          <img class='icon' src="./assets/storm64.png" color="background">
        </div>
      </ion-col>
      <ion-col class="title" col-8>
        <div class='content'>
          <h1 class='title'>العاصفة</h1>
          <p class="description">لحذف جوابين</p>
        </div>
      </ion-col>
      <ion-col col-2>
        <button class='imgBtn' (click)='buyByGold("storm")' color="background" clear>
          <img class='smallIcon' src="./assets/gold64.png" color="background">
        </button>
        <ion-badge small item-end>1000</ion-badge>
      </ion-col>
    </ion-row>

    <ion-row class="option ">
      <ion-col col-2>
        <div class='imgContainer'>
          <img class='icon' src="./assets/hammar64.png" color="background">
        </div>
      </ion-col>
      <ion-col class="title" col-8>
          <div class='content'>
        <h1 class='title'>المطرقة</h1>
        <p class="description">لتغيير السؤال</p>
      </div>
      </ion-col>
      <ion-col col-2>
        <button class='imgBtn' (click)='buyByGold("hammar")' color="background" clear>
          <img class='smallIcon' src="./assets/gold64.png" color="background">
        </button>
        <ion-badge small item-end>1500</ion-badge>
      </ion-col>
    </ion-row>

    <ion-row class="option ">
      <ion-col col-2>
        <div class='imgContainer'>
          <img class='icon' src="./assets/jocker64.png" color="background">
        </div>
      </ion-col>
      <ion-col class="title" col-8>
          <div class='content'>
        <h1 class='title'>الجوكر</h1>
        <p class="description">لاعتبار إجابتك صحيحة</p>
      </div>
      </ion-col>
      <ion-col col-2>
        <button class='imgBtn' (click)='buyByGold("jocker")' color="background" clear>
          <img class='smallIcon' src="./assets/gold64.png" color="background">
        </button>
        <ion-badge small item-end>2000</ion-badge>
      </ion-col>
    </ion-row>

    <div *ngFor="let item of products">
      <ion-row class="option " *ngIf="item.alias !='noads' ||(item.alias ==='noads' && !noAdsDisable)">
        <ion-col col-2>
          <div class='imgContainer'>
            <img class='icon' [src]="'./assets/'+ item.alias +'64.png'" color="background">
          </div>
        </ion-col>
        <ion-col col-8>
          <div class='content'>
            <h1 class='title'> {{item.title}}
              <span> * {{item.number}} </span>
            </h1>
            <p class="description"> {{item.description}} </p>
          </div>
        </ion-col>
        <ion-col col-2>
          <button ion-button class='payBtn' (click)='pay(item.price, item.alias, item.number)' color="primary" full block>
            {{item.price}} $
          </button>
        </ion-col>
      </ion-row>
    </div>


    <!-- </ion-list> -->
  </div>

</ion-content>