page-reported-questions {
    
    .card-md-primary {
        padding: 1em;
        width: 96%;
        margin: .5em auto;
        font-size: 1.3em !important;
    }
    // ion-card.card.card-md.card-md-primary {
    //     padding: 1em;
    //     margin: 0;
    //     font-size: 1.1em;
    // }
    .choices{
        width: 96%;
        margin: .5em auto;
    }
    ion-card.card.card-md.card-md-primary {
        width: 96%;
    }
}
