user-card {
    ion-avatar img, ion-thumbnail img {
        margin-bottom: 6 em;
        margin-right: auto !important;
        margin-left: auto !important;
        border-radius: 50%;
        border: 3px solid black;
        
     }
}
