<div class='userCardContainer'>

  <ion-item class="user" color="background">
    <ion-avatar item-start class="userAvatar">
      <img [src]="user.imageLink" alt="جاري تحميل الصورة!">
      <ion-icon *ngIf="user.role === 'admin'" name="bowtie"></ion-icon>
    </ion-avatar>
    <div>
      <h1>{{user.name}}</h1>
      <p> {{user.email}}</p>
      <ion-badge small item-end>{{user.pointNum}} نقطة</ion-badge>
    </div>
  </ion-item>
  <ion-row class='scores'>
      <ion-col>
        <img src="./assets/gold64.png" color="background">
        <div>
          <ion-badge item-end>{{user.goldenPoints}}</ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <img src="./assets/jocker64.png" color="background">
        <div>
          <ion-badge item-end>{{user.jokerNum}}</ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <img src="./assets/hammar64.png" color="background">
        <div>
          <ion-badge item-end>{{user.hammarNum}}</ion-badge>
        </div>
      </ion-col>
      <ion-col>
        <img src="./assets/storm64.png" color="background">
        <div>
          <ion-badge item-end>{{user.stormNum}}</ion-badge>
        </div>
      </ion-col>
    </ion-row>


</div>