user-card {
    .userCardContainer {
        margin-bottom: 2em;
    }
    .user h1 {
        color: white;
        font-size: 2em;
    }
    .scores {
        border-bottom: 2px solid white;
    }
    .scores div {
        display: block;
        margin: auto;
        text-align: center;
    }
    .scores div {
        margin-bottom: .5em !important;
    }
    // img{
    //     border: none !important;
    // }
    user-card .scores img {
        /* margin: auto; */
        display: block;
        width: 40px !important;
        max-width: 40px !important;
        min-width: 40px !important;
        margin: .5em auto !important;
    }
    .item-md ion-avatar img {
        overflow: hidden;
        width: 120px !important;
        height: 120px !important;
        min-width: 120px;
    }
}
