<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      تحدي السرعة
    </ion-title>

    <ion-buttons end padding>
      <button ion-button end icon-only (click)="setSettingVis()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div *ngIf="showAll">
    <ion-list *ngIf="!showQuiz">
      <ion-item>
        <ion-label>
          تبويبات الكويز
        </ion-label>
        <ion-select [(ngModel)]="quizType" interface="action-sheet" cancelText="إلغاء"  color="background" >
          <ion-option value="all" selected (ionSelect)="hideSelects()">
            كل التيويبات
          </ion-option>
          <ion-option value="cat" (ionSelect)="showCatSelects()">
            تبويب رئيسي
          </ion-option>
          <ion-option value="subCat" (ionSelect)="showSubCatSelects()">
            تبويب فرعي
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="showCatSelect"  color="background" >
        <ion-label>
          اختر التبويب
        </ion-label>
        <ion-select [(ngModel)]="selectedCat" interface="action-sheet" cancelText="إلغاء">
          <ion-option *ngFor="let cat of catSelects" [value]="cat.value">
            {{cat.name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="showSubCatSelect"  color="background" >
        <ion-label>
          اختر التبويب الفرعي
        </ion-label>
        <ion-select [(ngModel)]="selectedSubCat" interface="action-sheet" cancelText="إلغاء">
          <ion-option *ngFor="let cat of subCatSelects" [value]="cat.value">
            {{cat.name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <button ion-button (click)="getCompetitionQuestions()" color="primary" full>
        موافق
      </button>
    </ion-list>

    <ion-list *ngIf="showQuiz">
      <!-- <progress-bar [progress]="progressValue" [text]=""></progress-bar> -->
      <ion-item class="questionBar" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}" color="background">
        <!-- <question-bar [answerArr]="userAnswerArr"></question-bar> -->
        <ion-badge item-end>{{userPoints}}</ion-badge>
      </ion-item>

      <ion-card>
        <div class="imgContainer" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}" *ngIf="currentQuestion.imageUrl !== ''">
          <img [src]="imageBeg + currentQuestion.imageUrl + imageEnd">
        </div>
        <ion-card-content>
          <!-- <progress-bar class='loadingBar' *ngIf="showLoadingBar" [progress]="loadingValue" [isQuestionContent]='true' [text]='loadingBarText'
            [showProgress]='false'></progress-bar> -->
          <ion-card class='content1' *ngIf="!showLoadingBar" color="primary"> {{questionIdx + 1}} - {{loadingBarText}} </ion-card>
        </ion-card-content>
      </ion-card>

      <div *ngIf="currentQuestion.answerType.toLocaleLowerCase() === 'multiplechoices' && currentQuestion.imageUrl === '' ">
        <button ion-button block class='choice' [style.background]="choiceBkgs[c.text]" *ngFor="let c of currentChoices" (click)="next(c.text)">
          {{c.text}}
        </button>
      </div>

      <div *ngIf="currentQuestion.answerType.toLocaleLowerCase() === 'multiplechoices' && currentQuestion.imageUrl !== '' ">
        <ion-row>
          <ion-col *ngFor="let c of currentChoices.slice(0,2)">
            <button ion-button block class="choice" [style.background]="choiceBkgs[c.text]" (click)="next(c.text)">
              {{c.text}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let c of currentChoices.slice(2,4)">
            <button ion-button block class="choice" [style.background]="choiceBkgs[c.text]" (click)="next(c.text)">
              {{c.text}}
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="currentQuestion.answerType.toLocaleLowerCase() === 'trueorfalse' ">
        <button ion-button class='choice' [style.background]="choiceBkgs['true']" block (click)="next('true')">
          صح
        </button>
        <button ion-button class='choice' [style.background]="choiceBkgs['false']" block (click)="next('false')">
          خطأ
        </button>
      </div>
      <ion-item *ngIf="currentQuestion.answerType.toLocaleLowerCase() === 'fillblanck' ">
        <ion-input [(ngModel)]="userAnswer"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <button ion-button (click)="useJoker()" color="google" full>
            جوكر
          </button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="useHammer()" color="facebook" full>
            مطرقة
          </button>
        </ion-col>
        <ion-col *ngIf="showStormBtn">
          <button ion-button  (click)="useStorm()" color="primary" full>
            العاصفة
          </button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>
