page-team-order {
    .userCol{
        color:white;
        font-size: .8em;
    }
     .userRow {
        margin: 0 !important;
    }
    .infoCol h2 {
        color: white;
        font-size: 1.4em;
    }
    .userCard {
        margin: 1em !important;
        padding:0;
        border-bottom: 1px solid white;
        width: 94%;
    }

    ion-item.team.item.item-block.item-md.item-md-background {
        border-bottom: 2px solid;
    }
    
    .item-md [item-end] {
        margin: 9px 8px 9px 9px;
    }
    ion-item.item.item-block.item-md.item-md-primary {
        margin: 1em !important;
        width: 92%;
        padding: 0 !important;
        border-radius: 20px;
    }
    .innerIonItem{
        margin: 0 !important;
    }
    h2 {
        //border-bottom: 1px solid;
        font-size: 2em !important;
    }
    ion-label.label.label-md {
        margin: 0;
    }
}
